{% extends 'cryptoApp/base.html' %}

{% block body_block %}
    <div class="homepage-headline">Today's Cryptocurrency Prices by Byenance</div>
    <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#999999" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="10" ></div>
    {% with highlight_data=highlight %}
        {% include "./highlight.html" %}
    {% endwith %}
    {% if coins %}
      <div class="card custom_card">
        <table class="table custom_table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">1h%</th>
              <th scope="col">24h%</th>
              <th scope="col">7d%</th>
              <th scope="col">Market Cap</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for coin in coins %}
                <tr class="coin_row" data-bs-toggle="modal" data-bs-target="#coin_modal_{{ coin.symbol }}" data-bs-whatever={{ coin.symbol }}>
                  <th scope="row">{{ coin.id }}</th>
                  <td>
                      <image class="coin_icon" src={{ coin.icon_url }} />
                      {{ coin.name }}
                      {{ coin.symbol }}
                  </td>
                  <td>${{ coin.price }}</td>
                  <td>{{ coin.percentage_change_1h }}</td>
                  <td>{{ coin.percentage_change_24h }}</td>
                  <td>{{ coin.percentage_change_7d }}</td>
                  <td>${{ coin.market_cap }}</td>
                <td><a href="{% url 'wallet_view' coin.id %}">Buy</a></td>
                </tr>


                <div class="modal fade" id="coin_modal_{{ coin.symbol }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body custom_modal">
                        <div id="coin_chart_{{ coin.symbol }}" class="livecoinwatch-widget-1" lcw-coin={{ coin.symbol }} lcw-base="USD" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}

          </tbody>
        </table>
      </div>
  {% endif %}
{% endblock %}