{% extends 'cryptoApp/base.html' %}
{% load static %}
{% block body_block %}

{% include 'cryptoApp/navbar.html' %}

<div class="container">
    <!-- First Row: Welcome Heading -->
    <div class="row">
        <div class="col-12 text-center">
            <h1> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                Welcome to Bweeter</h1>
        </div>
    </div>

    <!-- Second Row: Text Box and Submit Button -->
    <div class="row mt-4">
        <div class="col-12 text-center">
           {% if form %}
            <form method="POST">
                {% csrf_token %}
                    {{form.as_p}}
                  <button type="submit" class="btn btn-secondary">Post</button>
                </form>
             {% endif %}
        </div>
    </div>

    <!-- Third Row: Display "Here" -->
    <div class="row mt-4">
        <div class="col-12 text-center">

            {% for beet in beets %}
                <div class="alert alert-primary" role="alert">
                    {{beet}}
                </div>
            {% endfor%}


        </div>
    </div>
</div>

{% include 'cryptoApp/footer.html' %}

{% endblock %}
