body {
    font-family: 'Inter', sans-serif;
}

.homepage-headline {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 700;
}

.custom_card {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 40px 0;
    padding: 15px;
}

.custom_row:hover {
    background: red;
}

.coin_icon {
    width: 30px;
    height: auto;
}

.coin_row {
    cursor: pointer;
}

.coin_row:hover td {
    background: #F8FAFD;
}

.coin_row:hover th {
    background: #F8FAFD;
}

.coin_row:hover {

}

.custom_modal {
    display: flex;
    justify-content: center;
}

.custom_modal div {
    transform: scale(1.5);
}

.red_row {
    color: red !important;
    font-weight: bold;
}

.green_row {
    color: green !important;
    font-weight: bold;
}
/*.modal_card {*/
/*    display: none; !* Hidden by default *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Sit on top *!*/
/*    padding-top: 100px; !* Location of the box *!*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%; !* Full width *!*/
/*    height: 100%; !* Full height *!*/
/*    overflow: auto; !* Enable scroll if needed *!*/
/*    background-color: rgb(0,0,0); !* Fallback color *!*/
/*    background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*.modal_content {*/
/*  background-color: #fefefe;*/
/*  margin: auto;*/
/*  padding: 20px;*/
/*  border: 1px solid #888;*/
/*  width: 80%;*/
/*}*/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}